extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Actualizando Bicicleta

    br
    br

    form(action='/bicicletas/'+bicicleta.id+'/update' method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=bicicleta.id)
        br
        label(for='color') Color:
        input#id(type='text' name='color' value=bicicleta.color)
        br
        label(for='modelo') Modelo:
        input#id(type='text' name='modelo' value=bicicleta.modelo)
        br
        label(for='lat') Latitud:
        input#id(type='text' name='lat' value=bicicleta.ubicacion[0])
        br
        label(for='lng') Longitud:
        input#id(type='text' name='lng' value=bicicleta.ubicacion[1])
        br
        br
        input.btn(type='submit' value='OK')